<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

body {
font-family: 'Roboto', sans-serif;
}
/*  font-family: 'Raleway', sans-serif;  */

.filters .filter,
.order {
   color: #212121;
}
.filters .filter:hover,
.filters .filter:focus,
.order:hover,
.order:focus {
  color: #2196F3;}

  .logo {
   color: #2196F3;
  }

  .navigations .navigation,
  .adresses .adress,
  .telmails .telmail {
   color: #212121;
  }
  .navigation:hover,
  .navigation:focus,
  .adress:hover,
  .adresss:focus,
  .telmail:hover,
  .telmail:focus {
   color: #2196F3;
  }

  /*
  .adress {
   color: #212121;
  }
  .adress:hover,
  .adresss:focus {
   color: #2196F3;
  }

  .telmail {
   color: #212121;
  }
  .telmail:hover,
  .telmail:focus {
   color: #2196F3;
  }
                        */