:root {
   --brand-color: #2196F3;
   --main-color: #212121;
   --background-color: #2F303A;
   --text_on_background-color: #FFFFFF;
 }

body {
font-family: 'Roboto', sans-serif;
color: var(--main-color);
}
/*  font-family: 'Raleway', sans-serif;  */

footer {
background-color: var(--background-color);
}

.filters .filter {
   color: var(--main-color);
}

.filters .filter:hover,
.filters .filter:focus {
  color: var(--brand-color);
}

.order {
   color: var(--text_on_background-color);
   background-color: var(--brand-color);
}


  .order,
  .filters .filter {
   cursor: pointer;
  }

  .span_logo {
   color: var(--brand-color);
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 35.96px;
  }

  .header_logo {
   color: var(--main-color);
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 35.96px;
  }

  .footer_logo {
   color: var(--footer_logo-color);
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 35.96px;
  }

  .header_nav,
  .header_contact {
   color: var(--main-color);
  }
   
  
  .header_nav:hover,
  .header_nav:focus,
  .header_contact:hover,
  .header_contact:focus,
  .footer_adress:hover,
  .footer_adress:focus {
   color: var(--brand-color);
  }

  .footer_adress {
      color: var(--footer_logo-color);
   }

   .main_title {
   color: var(--text_on_background-color);
   font-weight: 900;
   font-size: 44px;
   line-height: 60px;
   text-transform: uppercase;
   }

   .main_background {
      background-color: var(--background-color);
   }